---
title: MAYREH
---

<header role="banner" id="fh5co-header">
  <div class="container">
    <nav class="navbar navbar-default">
      <div class="navbar-header">
        <!-- Mobile Toggle Menu Button -->
        <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
        <%= link_to "MAYREH", "index.html", class: "navbar-brand" %>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="#" data-nav-section="home"><span>HOME</span></a></li>
          <li><a href="#" data-nav-section="eternal-triangle"><span>ETERNAL TRIANGLE</span></a></li>
          <li><a href="#" data-nav-section="irealtrumpet"><span>iREAL TRUMPET</span></a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>

<section id="fh5co-home" data-section="home" style="background-image: url(images/full_image_2.jpg);" data-stellar-background-ratio="0.5">
  <div class="gradient"></div>
  <div class="container">
    <div class="text-wrap">
      <div class="text-inner">
        <div class="row">
          <div class="col-md-6 col-md-offset-0 col-xs-8 col-xs-offset-2">
            <%= image_tag "mayreh.png", class: "img-responsive center-block" %>
          </div>
          <div class="col-md-6 col-md-offset-0 col-xs-12">
            <h1 class="to-animate border">MAYREH</h1>
            <h2 class="to-animate text-center">1940-50年代のJazz(Be-bop)の</h2>
            <h2 class="to-animate text-center">魅力を伝えるために</h2>
            <h2 class="to-animate text-center">アプリ/音楽の制作を行う</h2>
            <h2 class="to-animate text-center">サークルです。</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="slant"></div>
</section>

<section id="fh5co-eternal-triangle" data-section="eternal-triangle">
  <div class="container">
    <div class="row">
      <div class="col-md-12 section-heading text-center">
        <h2 class="to-animate">ETERNAL TRIANGLE</h2>
        <div class="row">
          <div class="col-md-8 col-md-offset-2 subtext to-animate">
            <h3>On Sale July, 2016</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe src="https://www.youtube.com/embed/Z7MSu2cFRAI" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="fh5co-irealtrumpet" data-section="irealtrumpet">
  <div class="container">
    <div class="row">
      <div class="col-md-12 section-heading text-center">
        <h2 class="border to-animate">iREAL TRUMPET</h2>
        <div class="row">
          <div class="col-md-8 col-md-offset-2 subtext to-animate">
            <h3>The only real trumpet simulator for iOS</h3>
            <a href="https://geo.itunes.apple.com/us/app/irealtrumpet/id1004395267?mt=8" style="display:inline-block;overflow:hidden;background:url(http://linkmaker.itunes.apple.com/images/badges/en-us/badge_appstore-lrg.svg) no-repeat;width:165px;height:40px;" class="app-link"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="fh5co-work text-center to-animate">
        <figure>
          <%= image_tag "irealtrumpet.png", class: "img-responsive center-block" %>
        </figure>
        <%= image_tag "irealtrumpet_description.png", class: "img-responsive center-block" %>
      </div>
    </div>
  </div>
</section>

<footer id="footer" role="contentinfo">
  <a href="#" class="gotop js-gotop"><i class="icon-arrow-up2"></i></a>
  <div class="container">
    <div>
      <div class="col-md-12 text-center">
        <p>&copy; Mayreh. All Rights Reserved. <br>okada@mayreh.com<br><br> Created by <a href="http://freehtml5.co/" target="_blank">FREEHTML5.co</a> Images: <a href="http://pexels.com/" target="_blank">Pexels</a>, <a href="http://plmd.me/" target="_blank">plmd.me</a></p>
      </div>
    </div>
  </div>
</footer>
